<ion-header>
  <ion-toolbar style="background: 0cea89;">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      志工招募
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>
    <img src="../../assets/pic/recruit/recruit.jpg" />
    <ion-card-content>
      圖片出處:
      <ion-chip color="primary">
          <ion-icon name="pin"></ion-icon>
        <a href="https://www.google.com/maps/place/%E7%81%A3%E8%A3%A1%E5%BD%A9%E7%B9%AA/@22.9221369,120.180784,18z/data=!4m5!3m4!1s0x346e756ad2fa91d9:0xcef1aef8a790cbf4!8m2!3d22.9221344!4d120.1818783"
          target="_blank">灣裡彩繪</a>
      </ion-chip>
    </ion-card-content>
    <ion-card-header>
     
      <ion-card-title>志工招募</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      南區每個活動需要大量的人力，進入
      <ion-chip color="primary">
          <a href="https://docs.google.com/spreadsheets/d/1iVxeYuTvhEWtZ4U0Br6kenAQOu0b7OS9dC214BrCliw/edit?usp=sharing"
            target="_blank">Google表單</a>
        </ion-chip>
      ，
      由衷感謝熱心服務的人，也誠摯歡迎各位能參與各項活動。
      
    </ion-card-content>
  </ion-card>
</ion-content>
