<ion-header>
  <ion-toolbar style="background: 0cea89;">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      聯絡方式
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <!-- fab placed in the center of the content with a list on each side -->


  <ion-card>
    <img src="../../assets/pic/聯絡方式.jpg" />
    <ion-card-header>
      <ion-card-subtitle>台南市南區灣裡</ion-card-subtitle>
      <ion-card-title>灣裡萬年文史推廣學會</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        電話:06-2627799
        
      </ion-card-content>
    <ion-card-content>
      總幹事:潘文欽<br>
      手機:0931-979958
    </ion-card-content>
    
  </ion-card>
</ion-content>