<ion-header>
  <ion-toolbar style="background: 0cea89;">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      聯絡方式
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <!-- fab placed in the center of the content with a list on each side -->


  <ion-card>
    <img src="../../assets/pic/聯絡方式.jpg" />
    <ion-card-header>
      <ion-card-subtitle>台南市南區灣裡</ion-card-subtitle>
      <ion-card-title>灣裡萬年文史推廣學會</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      電話:06-2627799
      <ion-chip color="primary">
        <ion-icon name="pin"></ion-icon>
        <a href="https://www.facebook.com/TWWCHEDO/" target="_blank">FB連結</a>
      </ion-chip>
    </ion-card-content>

    <ion-card-content>
      如果有任何網站、APP上的Bug、意見、疑難雜症...等等，請以Email聯繫:4a5g0082@stust.edu.tw，誠摯感謝
    </ion-card-content>
  </ion-card>
  <ion-footer>
    <hr>
    <h5>
      Copyright 2019 | All Rights Reserved. Designed by 4a5g0082@STUST.edu.tw.
    </h5>
  </ion-footer>

</ion-content>