<ion-header>
  <ion-toolbar style="background: 0cea89;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      導覽手冊
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="adimg">
    <ion-slides [options]="slideOpts">
      <ion-slide *ngFor="let item of slidesItems">
        <img src="{{item.img}}" class="slide-image">
      </ion-slide>
    </ion-slides>
  
  
  </div>
  <!--
  <img src="../../assets/pic/guide/1208-1.jpg">

  <img src="../../assets/pic/guide/1208-2.jpg">

  <img src="../../assets/pic/guide/1208-3.jpg">

  <img src="../../assets/pic/guide/1208-4.jpg">

  <img src="../../assets/pic/guide/1208-5.jpg">

  <img src="../../assets/pic/guide/1208-6.jpg">

  <img src="../../assets/pic/guide/1208-7.jpg">

  <img src="../../assets/pic/guide/1208-8.jpg">

  <img src="../../assets/pic/guide/1208-9.jpg">

  <img src="../../assets/pic/guide/1208-10.jpg">

  <img src="../../assets/pic/guide/1208-11.jpg">

  <img src="../../assets/pic/guide/1208-12.jpg">

  <img src="../../assets/pic/guide/1208-13.jpg">

  <img src="../../assets/pic/guide/1208-14.jpg">

  <img src="../../assets/pic/guide/1208-15.jpg">

  <img src="../../assets/pic/guide/1208-16.jpg">

  <img src="../../assets/pic/guide/1208-17.jpg">

  <img src="../../assets/pic/guide/1208-18.jpg"> -->

</ion-content>