<ion-header>
  <ion-toolbar style="background: 0cea89;">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      導覽手冊
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="adimg">
    <ion-slides [options]="slideOpts">
      <ion-slide *ngFor="let item of slidesItems">
        <img src="{{item.img}}" class="slide-image">
      </ion-slide>
    </ion-slides>


  </div>
  <h3 style="text-align: center;height: 100%;">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=11_GWrfNh9aC1fkhbjJ7DxafAcdxIEfb4" width="80%"
      height="80%"></iframe>
  </h3>
  <ion-card>
    
    <ion-card-header>
      <ion-card-subtitle>彎來彎去ㄙㄝˇ(逛)灣裡</ion-card-subtitle>
      <ion-card-title>地圖介紹</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      地圖左上角 "鯤鯓觀光"左邊的圖片按下去，選擇想去的地點，
    </ion-card-content>
    <ion-card-content>

    </ion-card-content>
  </ion-card>
  <!--
  <img src="../../assets/pic/guide/1208-1.jpg">

  <img src="../../assets/pic/guide/1208-2.jpg">

  <img src="../../assets/pic/guide/1208-3.jpg">

  <img src="../../assets/pic/guide/1208-4.jpg">

  <img src="../../assets/pic/guide/1208-5.jpg">

  <img src="../../assets/pic/guide/1208-6.jpg">

  <img src="../../assets/pic/guide/1208-7.jpg">

  <img src="../../assets/pic/guide/1208-8.jpg">

  <img src="../../assets/pic/guide/1208-9.jpg">

  <img src="../../assets/pic/guide/1208-10.jpg">

  <img src="../../assets/pic/guide/1208-11.jpg">

  <img src="../../assets/pic/guide/1208-12.jpg">

  <img src="../../assets/pic/guide/1208-13.jpg">

  <img src="../../assets/pic/guide/1208-14.jpg">

  <img src="../../assets/pic/guide/1208-15.jpg">

  <img src="../../assets/pic/guide/1208-16.jpg">

  <img src="../../assets/pic/guide/1208-17.jpg">

  <img src="../../assets/pic/guide/1208-18.jpg"> -->
  <ion-footer>
    <hr>
    <h5>
      Copyright 2019 | All Rights Reserved. Designed by 4a5g0082@STUST.edu.tw.
    </h5>
  </ion-footer>

</ion-content>