<ion-header>
  <ion-toolbar style="background: 0cea89;">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      著名景點
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <img src="../../assets/pic/map/藍曬圖文創園區.jpg" />
    <ion-card-content>
      由 YU, CHIA-LII - Public domainPublic domainfalsefalse 此作品已由其作者，Ichliebemaroon5，釋出至 公有領域。
      此授權條款在全世界均適用。這可能在某些國家不合法，如果是的話：Ichliebemaroon5 授予任何人有權利使用此作品於 任何用途，除受法律約束外，不受任何限制。, 公有領域,
      https://commons.wikimedia.org/w/index.php?curid=58010481
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>藍曬圖文創園區</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      藍曬圖文創園區（Blueprint Cultural & Creative
      Park）為台南市南區西門路上的一個微型文創園區。園區利用舊宿舍的空間，提供藝文展演、文化體驗、研習講座、餐飲等服務，於民國104年（2015年）年12月12日試營運。
      <br>
      <ion-chip outline color="primary">
        <ion-icon name="pin"></ion-icon>
        <a href="https://www.google.com.tw/maps/place/%E8%97%8D%E6%99%92%E5%9C%96%E6%96%87%E5%89%B5%E5%9C%92%E5%8D%80/@22.987102,120.1951567,17z/data=!3m1!4b1!4m5!3m4!1s0x346e767bd141b7b5:0x58fa83c5a93881d4!8m2!3d22.987102!4d120.1973454?hl=zh-TW"
          target="_blank">Google地圖</a>
      </ion-chip>

      查看此地點
      <br>

      進入<ion-chip outline color="primary">

        <a href="https://zh.wikipedia.org/wiki/%E8%97%8D%E6%99%92%E5%9C%96%E6%96%87%E5%89%B5%E5%9C%92%E5%8D%80"
          target="_blank">Wiki</a>

      </ion-chip>介紹
    </ion-card-content>

  </ion-card>

  <ion-card>
    <img src="../../assets/pic/map/水交社文化園區.jpg" />
    <ion-card-header>
      <ion-card-title>水交社文化園區</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      原水交社日式宿舍群區域，曾經是日治時期駐防臺南機場的臺南海軍航空隊，其官兵、眷屬之居所。國民政府遷臺後，水交社由航空委員會（今空軍總部前身）派員接收，並成為443聯隊之基地，水交社亦陸續興建眷舍以提供國軍官兵及眷屬居住。
      <br>
      2004年，臺南市政府以「原水交社宿舍群暨文化景觀」名稱指定古蹟，作為保存臺南眷村文化資產的重要據點。於原址成立「水交社文化園區」，本園區並規劃為八大主題館，訂於2019年12月25日開幕。
      <br>

      <ion-chip outline color="primary">
        <ion-icon name="pin"></ion-icon>
        <a href="https://www.google.com.tw/maps/place/%E6%B0%B4%E4%BA%A4%E7%A4%BE%E6%96%87%E5%8C%96%E5%9C%92%E5%8D%80/@22.9776513,120.1993856,17z/data=!3m1!4b1!4m5!3m4!1s0x346e75d456a4b15b:0xffd3a9bf91ffb03d!8m2!3d22.9776513!4d120.2015743?hl=zh-TW"
          target="_blank">Google地圖</a>
      </ion-chip>

      查看此地點
      <br>
      <ion-chip outline color="primary">

        <a href="https://shueijiaoshe.tainan.gov.tw/site/about" target="_blank">水交社文化園區官方網站</a>
      </ion-chip>

      <p style="color:gray">圖片來自官網，如有侵權請聯絡(4a5g0082@stust.edu.tw)，感謝。</p>
    </ion-card-content>

  </ion-card>
  <ion-card>
    <img src="../../assets/pic/map/四鯤鯓龍山寺.jpg" />
    <ion-card-content>
      由 Pbdragonwang - 自己的作品, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=65311798
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>四鯤鯓龍山寺</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      全台開基四鯤鯓龍山寺，俗稱全台開基四鯤鯓祖師公廟，為全臺灣首座最早主奉清水祖師的廟宇。址在臺灣臺南市南區鯤鯓路102巷81號。
      <br>
      <ion-chip outline color="primary">
        <ion-icon name="pin"></ion-icon>
        <a href="https://www.google.com/maps/place/%E9%BE%8D%E5%B1%B1%E5%AF%BA/@22.9889841,120.1841962,12z/data=!4m5!3m4!1s0x346e75926de057fb:0xd1b14093e60466d7!8m2!3d22.9616376!4d120.171225?hl=zh-TW"
          target="_blank">Google地圖</a>
      </ion-chip>
      查看此地點

      <br>
      進入
      <ion-chip outline color="primary">
        <a href="https://zh.wikipedia.org/wiki/%E5%9B%9B%E9%AF%A4%E9%AF%93%E9%BE%8D%E5%B1%B1%E5%AF%BA"
          target="_blank">Wiki</a>
      </ion-chip>
      介紹
    </ion-card-content>

  </ion-card>

  <ion-card>
    <img src="../../assets/pic/map/臺南喜樹萬皇宮.jpg" />
    <ion-card-content>
      由 Pbdragonwang - 自己的作品, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=26224884
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>喜樹萬皇宮</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      喜樹萬皇宮位在臺灣臺南市南區，是喜樹地區的重要廟宇。該廟約創建於清乾隆四年（1739年），奉祀主神是代天巡狩葉、朱、李三府千歲，目前廟貌為民國68年（1979年）左右重建後的樣貌。

      過去喜樹的菜市場在喜樹路254巷（喜樹老街），後來搬遷到萬皇宮廟埕後，老街便沒落。萬皇宮所在地過去是喜樹聚落的東北方，後來聚落範圍擴大之後變成喜樹的中心。
      <br>
      <ion-chip outline color="primary">
        <ion-icon name="pin"></ion-icon>
        <a href="https://www.google.com.tw/maps/place/%E5%8F%B0%E5%8D%97%E5%96%9C%E6%A8%B9%E8%90%AC%E7%9A%87%E5%AE%AE/@22.9414909,120.1752893,17z/data=!3m1!4b1!4m5!3m4!1s0x346e7575ec5c9b05:0x7268cb17fd2dead5!8m2!3d22.9414909!4d120.177478?hl=zh-TW"
          target="_blank">Google地圖</a>
      </ion-chip>
      查看此地點

      <br>
      進入
      <ion-chip outline color="primary">
        <a href="https://zh.wikipedia.org/wiki/%E5%96%9C%E6%A8%B9%E8%90%AC%E7%9A%87%E5%AE%AE" target="_blank">Wiki</a>
      </ion-chip>
      介紹

    </ion-card-content>

  </ion-card>

  <ion-card>
    <img src="../../assets/pic/map/臺南灣裡萬年殿.jpg" />
    <ion-card-content>
      由 Pbdragonwang - 自己的作品, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=25933520  
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>灣裡萬年殿</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      灣裡萬年殿位在臺灣臺南市南區灣裡地區，約創建於清雍正七年（1729年），奉祀主神是葉、朱、李三府千歲，陪祀有南鯤鯓五府千歲、大崗山觀音佛祖、王船等。

      萬年殿為古時七鯤鯓的蘇、杜、葉、林、黃等五姓莊民為王船共同建廟，為灣裡地區的信仰中心，也是灣裡各角頭廟的總廟。兩廂的王船廠祀有三府千歲以及五府千歲的王船公為本廟特色之一，另外萬年殿正殿的門神為全台第一座，也是蔡草如大師製作全台唯一的擂金門神。

      相傳萬年殿王船最早是由喜樹莊民發現擱淺於海邊，欲將王船與神像拾取攜回結果拖不動，後來又被灣裡莊民發現後拖回奉祀，王船內載有葉朱李三府千位的金身以及掛圖，後由兩莊莊民各自建萬年殿及萬皇宮奉祀，結果喜樹分得神像掛圖，灣裡分得金身及王船。

      亦有另一說廣泛流傳於灣裡聚落的耆老，萬皇宮之所以晚萬年殿建廟，是因為當時喜樹莊民看灣裡莊得王船看得眼紅，於是打劫萬年殿偷請走了神像掛圖，而導致灣裡莊與喜樹莊兩莊之間的械鬥，然而此說法不見於喜樹聚落。

      起初萬年殿的王船公只有載來三府千歲的王船一艘，祀於北側王船廠，後來萬年殿從南鯤鯓代天府分靈五府千歲，又修建的一艘王船祀於南邊王船廠，建醮時兩艘王船皆會重新整修，然而只有北邊王船會出巡遊地河。
      <br>
      <ion-chip outline color="primary">
        <ion-icon name="pin"></ion-icon>
        <a href="https://www.google.com.tw/maps/place/%E7%81%A3%E8%A3%A1%E8%90%AC%E5%B9%B4%E6%AE%BF/@22.9332912,120.1778887,17z/data=!3m1!4b1!4m5!3m4!1s0x346e7572e4706747:0xadac18a0469c212f!8m2!3d22.9332912!4d120.1800774?hl=zh-TW"
          target="_blank">Google地圖</a>
      </ion-chip>
      查看此地點

      <br>
      進入
      <ion-chip outline color="primary">
        <a href="https://zh.wikipedia.org/wiki/%E7%81%A3%E8%A3%A1%E8%90%AC%E5%B9%B4%E6%AE%BF" target="_blank">Wiki</a>
      </ion-chip>
      介紹
    </ion-card-content>


  </ion-card>
  <ion-card>
    <img src="../../assets/pic/map/黃金海岸.jpg" />
    <ion-card-header>
      <ion-card-title>台南黃金海岸</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      黃金海岸是台南最南端的海岸線與高雄茄萣相鄰。從台南安平漁光島起至黃金海岸，有長達近5公里的海岸線沙灘，每天下午總是有許多遊客在此散步、踏浪、放風箏，金黃色的夕陽打在沙灘上呈現出一片有如黃金般閃亮的沙灘景致，這也是黃金海岸的名稱由來，日落傍晚時分是黃金海岸最熱鬧的時候，入夜後人潮不但沒有散去，反倒被海岸邊的露天咖啡座所吸引，此時繽紛色彩的燈光亮起，從熱情的黃金海岸變身為浪漫的月光海岸，是許多情侶約會跟三兩好友夜間聚會的好去處。
      <br>
      <ion-chip outline color="primary">
        <ion-icon name="pin"></ion-icon>
        <a href="https://www.google.com.tw/maps/place/%E9%BB%83%E9%87%91%E6%B5%B7%E5%B2%B8/@22.9332088,120.174069,17z/data=!3m1!4b1!4m5!3m4!1s0x346e75721ffd3031:0xb4dec7201f75490b!8m2!3d22.9332088!4d120.1762577?hl=zh-TW"
          target="_blank">Google地圖</a>
      </ion-chip>

      查看此地點
      <br>
      <ion-chip outline color="primary">
        <a href="https://www.twtainan.net/zh-tw/attractions/detail/805" target="_blank">黃金海岸景點介紹</a>
      </ion-chip>

      <p style="color:gray">圖片來自上方連結，如有侵權請聯絡(4a5g0082@stust.edu.tw)，感謝。</p>
    </ion-card-content>

  </ion-card>


  <p>※以上資料皆來自 <a href="https://zh.wikipedia.org/wiki/%E5%8D%97%E5%8D%80_(%E8%87%BA%E5%8D%97%E5%B8%82)"
      target="_blank">wiki</a>，整理後放上。</p>
</ion-content>