<ion-header>
  <ion-toolbar style="background: 0cea89;">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      活動資訊
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>


  <!-- <ion-card-header>
      <ion-card-subtitle>台南市南區灣裡</ion-card-subtitle>
      <ion-card-title>著名景點</ion-card-title>
    </ion-card-header> -->
    <img src="../../assets/pic/灣裡.jpg" />
  <ion-card>
    
    <ion-card-header>
      <ion-card-subtitle>活動</ion-card-subtitle>
      <ion-card-title>常態活動(每年固定)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="history">
        <table class="history-list">
          <thead>
            <tr>
              <th>日期</th>
              <th>活動名稱</th>
              <th>地點</th>
            </tr>

          </thead>
          <tbody>

            <tr>

              <td>
                <p style="color: black">三月份</p>


              </td>
              <td>
                <p style="color: gray">南區鯤喜灣樂活節</p>
              </td>
              <td>詳情請看下方連結</td>
            </tr>


            <tr>

              <td>
                <p style="color: black">端午節</p>


              </td>
              <td>
                <p style="color: gray">端午節市集活動</p>
              </td>
              <td>詳情請看下方連結</td>
            </tr>
            <tr>
              <td>
                <p style="color: black">中秋節</p>
              </td>
              <td>
                <p style="color: gray">烤肉活動</p>
              </td>
              <td>詳情請看下方連結</td>
            </tr>

            <tr>
              <td>
                <p style="color: black">九、十月</p>
              </td>
              <td>
                <p style="color: gray">假鬼假怪(化裝舞會)</p>
              </td>
              <td>詳情請看下方連結</td>
            </tr>

            <!-- <tr>
              <td>
                <p>123</p>
                <p>321</p>
              </td>
              <td>20</td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </ion-card-content>
    <ion-card-content>
      精彩活動千萬別錯過，進入
      <ion-chip color="primary">
        <a href="https://docs.google.com/spreadsheets/d/1rqKD7pvzwfakbtQyPi7bN0lOZnJLYCOn9tUY4T8hITM/edit?usp=sharing"
          target="_blank">Google表單</a>
      </ion-chip>

      ，一覽近期活動。

    </ion-card-content>
  </ion-card>
  <!-- <iframe
    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTWWCHEDO%2F&tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
    width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
    allow="encrypted-media" align="right"></iframe> -->

    <ion-footer>
      <hr>
      <h5>
        Copyright 2019 | All Rights Reserved. Designed by 4a5g0082@STUST.edu.tw.
      </h5>
    </ion-footer>
  
</ion-content>