img{
    width: 100%;
}

.fb{
    iframe{
        margin: auto;
    }
}

.history {
    display: block;
    width: 100%;
    height: 100%;
    .history-list {
      width: 100%;
      height: 100%;
      p{
        padding: 0px;
      }
      thead th:first-child,
      tbody td:first-child {
        padding: 14px 0 5px 13px;
        width: 20%;
        text-align: left;
      }
      thead th:nth-child(2),
      tbody td:nth-child(2) {
        padding: 14px 0 5px 13px;
        width: 40%;
        text-align: center;
      }
  
      thead th:last-child,
      tbody td:last-child {
        padding: 14px 0 5px 13px;
        width: 40%;
        text-align: center;
      }
      thead th {
        color: rgb(249, 107, 62);
        font-size: 10px;
        border-bottom: 1px solid black;
      }
      tbody td {
        font-size: 12px;
      }
    }
  }

  