.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.content {
  background-color: #fff;
  border-radius: 5px;
}
ion-card {
  --background: #fff;
  
  width: 80%;
  margin:auto;
  margin-bottom: 10px;
}
ion-chip{
  a{
    text-decoration:none;
  }
}
/*
標題置中
position: absolute;
    left: 50%;
    transform: translate(-50%, -10px);

*/

.home-img{
  
  width: 100%;
  text-align: center;
  hr{
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
  }
  .img{
    background-image: url('../../assets/pic/home/home1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  } 
  .title{
    color: #ffffff;
    font-size: 42px;
    font-weight: 400;
    padding-top: 20px;
    
    
  }
  .tags{
    width: 80%;
    margin: auto;
    ion-col{
      color:#9bdffb;
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 20px;
    }
  }
  .ending{
    color: #ffffff;
    font-size: 42px;
    font-weight: 600;
    padding-top: 20px;
    line-height: 1.5;
    padding-bottom: 20px;
  }
}
